:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: 'Shadows Into Light', cursive;
  --secondary-font: 'Dancing Script', cursive;
}

body{
  background-color: var(--light);
}

.container-one_row {
  display: grid;
  grid-template-columns: 1fr;
}

.container-one_row .row {
  width: 99%;
  height: 180px;
  margin: 0.4%;
  box-shadow: 1px 2px 2px 2px #cfcfcf;
  text-align: center;
}

.sticky{
  background-color: var(--light);
  position:fixed;
  top:0;
  width:100%;
}

.logo_top {
  height: 70px;
  width: auto;
}

.logo_bottom {
  height: 40px;
  width: auto;
  margin-top: 15px;
}

h2{
  font-family: var(--secondary-font);
  margin: 5px;
}

p{
  font-family: var(--primary-font);
  font-weight: bold;
  margin: 5px;
}

h3{
  font-family: var(--primary-font);
  margin: 5px;
}



.container-two_rows {
  width: 99%;
  margin: 190px 0.4% 0.4% 0.4%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 10px;
}

.container-two_rows .row {
  box-shadow: 1px 2px 2px 2px #cfcfcf;
  text-align: center;
  min-height: 380px;
}

.h-380{
  height: 380px;
}

.min_h-880{
  min-height: 880px;
}






.gallery_container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, minmax(250px,1fr));
  grid-auto-rows: 200px;
  margin: 0.4%;
  padding: 3%;
  box-shadow: 1px 2px 2px 2px #cfcfcf;
  text-align: center;;
}

.gallery_container img {
width: 100%;
height: 100%;
  object-fit: cover;
}


.not_flex_row {
display: block;
height: 380px;
margin: 0.4%;
padding: 2%;
box-shadow: 1px 2px 2px 2px #cfcfcf;
text-align: center;;
}


.image_1 {
  grid-row-end: span 1;
}

.image_2 {
  grid-row-end: span 2;
}

.image_3 {
  grid-row-end: span 3;
}

.image_4 {
  grid-row-end: span 2;
}

.image_5 {
  grid-row-end: span 1;
}

.image_6 {
  grid-row-end: span 1;
}

.image_7 {
  grid-row-end: span 2;
}

.image_8 {
  grid-row-end: span 3;
}

.image_9 {
  grid-row-end: span 4;
}

.image_10 {
  grid-row-end: span 1;
}

.image_11 {
  grid-row-end: span 2;
}









.avatar{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

