*{
    text-align: center;
}
.hidden{
    display: none;
}
ul{
    list-style-type: none;
}
textarea{
height: 70px;
}
li button:first-child{
    margin: 2px 0 2px 10px;
}
#alertMessage{
    position:absolute;
    top:0;
    left:0;
}