.options{
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.rock, .paper, .scissor{
  padding: 0.8rem;
  width: 100px;
  border-radius: 10px;
  background: green;
  outline: none;
  border-color: darkgreen;
  border: none;
  cursor: pointer;
}

.move{
  position: relative;
  margin-top: 180px;
  font-size: 2rem;
  font-weight: bold;
}

.reload {
  display: none;
  margin-top: 2rem;
  padding: 1rem;
  background: green;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.result{
  margin-top: 20px;
  font-size: 1.2rem;
}
