body {
  background-color: white;
}

p {
  margin: 0;
  position: relative;
  left: 5%;
}

.calculator {
  position: relative;
  margin: 1em auto;
  padding: 1em 0;
  display: block;
  width: 350px;
  background-color: #566885;
  border-radius: 25px;
  box-shadow: 5px 5px 15px 3px #111;
}

.calc-row {
  text-align: center;
}

.calc-row div.screen {
  display: table;
  width: 85%;
  background-color: white;
  text-align: right;
  font-size: 2em;
  min-height: 1.2em;
  margin-left: 0.5em;
  padding-right: 0.5em;
  border: 1px solid #888;
  color: #333;
}

.calc-row div {
  text-align: center;
  display: inline-block;
  font-weight: bold;
  border: 1px solid #555;
  background-color: #d6e1ef;
  padding: 10px 0;
  margin: 7px 5px;
  width: 50px;
}

.calc-row div.zero {
  width: 112px;
}

.calc-row div.zero {
  margin-right: 5px;
}

.log_container{
	width: 350px;
}