

.wrapper{
    position: absolute;
    top: 1%;
    left: 1%;
    background-color:white;
    border:1px solid black;
    border-radius: 25px;
    width: 95%;
    height: 85%;
}

#received_message{
    position: relative;
    margin: 10px 0 0 10px;
    width: 100%;
}

#received_msg_text{
    background-color: #89c5e9;
    border: 1px solid darkgray;
    border-radius: 5px;
    width: min-content;
    padding:5px;
    white-space: nowrap;
}

#my_message{
    position: relative;
    margin: 10px 10px 0 0;
    float: right;
    text-align: right;
    width: 100%;
}

#sent_msg_text {
    float: right;
    text-align: right;
    background-color: #89c5e9;
    border: 1px solid darkgray;
    border-radius: 5px;
    width: min-content;
    padding:5px;
    white-space: nowrap;
}

.message_box_bottom{
    position: fixed;
    left: 2%;
    bottom: 0;
    width: 90%;
    min-height: 10%;
    background-color: white;
    text-align: left;
}

.message_box_bottom textarea{
    width: 90%;
    height: 30px;
    border-radius: 2%;
    margin: 0 0 -10px 0;
    padding:0;
}

.message_box_bottom button{
    width: 8%;
    height: 30px;
    border-radius: 2%;
    margin: 0 0 10px 0;

}